.footer .container  {
  /* background-color: yellow; */
  margin-bottom: 20px;
}


.subscription {
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
}

.footer_head {
  font-size: 150%;
  font-family: sans-serif;
}

.footer .container .footer_container {
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
}

.footer .container .footer_container h3 {
  font-size: 110%;
  color: gray;
  font-family: sans-serif;
  text-align: left;
  border-bottom: 1px solid skyblue;
  padding: 3pxs;
}

.footer .container .footer_container .social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.footer .container .list-unstyled {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  padding: 3px;
}